* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    border: none;
    background: none;
}
html {
    height: 100%;
    font-size: 62.5%;
    color: #212121;
}
body {
    height: 100%;
}
#app {
    height: 100%;
}

